/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: 'Clear Sans Medium';
  line-height: 1.5;
}
h1 {
  font-size: 45px;
  font: 'Clear Sans Medium';
  text-align: center;
  color: #1fdbde;
  text-shadow: 0px 0px 10px #19b1b4
}

#timer {
  font-size: 50px;
  padding: 0px 0;
  text-align: center;
  color: #ffffff;
}

#nd { color: white }
#fb { color: white }
.f { 
  translate: 0px -25px;
  height: 10px;
  font-size: 15px;
  color: white 
}

#inner {
  text-align: center;
}

#bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://cdn.glitch.global/23ed6e87-11fd-42ab-9a31-42761cbdc508/Junglegrass01%20(2).svg?v=1712752237854");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 50%;
}

#center {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1
}

#w { font-size: 17.5px }

#images {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/*@media only screen and (min-width: 768px) {
  h1 {
    font-size: 100px;
    height: 50px;
  }
  #timer {
    font-size: 120px;
    height: 62.5px;
  }
  .f { 
    translate: 0px -150px;
    height: 10px;
    font-size: 35px;
  }
  #nd {
    font-size: 50px;
    height: 25px;
  }
  #fb {
    font-size: 50px;
    height: 25px;
    translate: 0px -150px;
  }
}*/

a {
 display: inline-block;
  position: relative;
  margin: 2px;
  border: 0px;
  padding: 5px;
  /*width: 70px;*/
  height: 30px;
  font-size: smaller;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;
  background: #B58EFD;
  border-radius: 5px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.15);
}
a:hover {
  top: 1px;
  height: 29px;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.15);
}
a:active {
  top: 4px;
  height: 26px;
  box-shadow: inset 0 -25px rgba(0, 0, 0, 0.15);
}